* {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}
a:focus {
 outline: none ;
}
.page-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  height: 2000px;
  background-color: #F1EBE4;
}
.navigation {
  margin: 0 auto;
  max-width: 1376px;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #F1EBE4;
  margin-bottom: 5px;
}
.navigation_link-logo {
  padding: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: auto;
}
.navigation_link {
  text-decoration: none;
  color: black;
}
.navigation_link-cart {
  display: flex;
  padding: 0;
}
.navigation_link:visited {
  color: black;
}
.navigation-span_price {
  padding: 5px;
}
.navigation_link:nth-of-type(5){
  margin-left: auto;
}
.navigation:nth-of-type(n) a{
  padding: 50px;
}
.navigation:nth-of-type(n) a:first-of-type{
  padding-left: 8px;
}
.navigation:nth-of-type(n) a:last-of-type{
  padding: 0;
  padding-right: 8px;
}
.main {
  margin: 0 auto;
  max-width: 1376px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F1EBE4;
}
.main_page {
  background-image: url('/img/main-picture.jpg');
  width: 100%;
  height: 640px;
  margin-bottom: 152px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* .main_img {
  max-width: 100%;
  height: auto;
} */
.main_text {
  line-height: 106px;
  width: 640px;
  color: white;
  font-size: 96px;
  padding: 0;
  margin: 58px auto 272px 65px;
}
.main_link{
  color: black;
  width: 295px;
  height: 57px;
  background-color: #FFDB5B;
  text-decoration: none;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-left: 65px;
}
.main_link:visited {
  color: black;
}
.main_link-text {
  margin: auto;
}
.main_link-btn-down {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 65px;
  top: 572px;
}
.main_img-btn-down {
  width: 128px;
  height: auto;
}
.main_section {
  font-size: 72px;
}







.footer {
  margin: 0 auto;
  max-width: 1376px;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #CAB5EB;
}
