* {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}
a:focus {
 outline: none ;
}
body {
  margin: 0;
}
.page-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  height: auto;
  background-color: #F1EBE4;
}
.navigation {
  margin: 0 auto;
  max-width: 1376px;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #F1EBE4;
  margin-bottom: 5px;
}
.navigation:nth-child(n) a:hover{
  color: #CAB5EB;
}
.navigation_link-logo {
  padding: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: auto;
}
.navigation_link {
  text-decoration: none;
  color: black;
}
.navigation_link-cart {
  display: flex;
  padding: 0;
}
.navigation_link:visited {
  color: black;
}
.navigation-span_price {
  padding: 5px;
}
.navigation_link:nth-of-type(5){
  margin-left: auto;
}
.navigation:nth-of-type(n) a{
  padding: 0 50px;
}
.navigation:nth-of-type(n) a:first-of-type{
  padding-left: 8px;
}
.navigation:nth-of-type(n) a:last-of-type{
  padding: 0;
  padding-right: 8px;
}
.main {
  margin: 0 auto;
  max-width: 1376px;
  background-color: #F1EBE4;
}
.main_page {
  background-image: url('/img/main-picture.png');
  max-width: 100%;
  height: 640px;
  margin-bottom: 152px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.main_text {
  line-height: 106px;
  width: 640px;
  color: white;
  font-size: 96px;
  padding: 0;
  margin: 58px auto 272px 65px;
}
.main_link{
  color: black;
  width: 295px;
  height: 57px;
  background-color: #FFDB5B;
  text-decoration: none;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-left: 65px;
}
.main_link:nth-child(n):hover{
  border:3px solid #CAB5EB;
}
.main_link:visited {
  color: black;
}
.main_link-text {
  margin: auto;
}
.main_link-btn-down {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 65px;
  top: 572px;
}
.main_img-btn-down {
  width: 128px;
  height: auto;
}
.main_img-btn-down:hover {
  box-sizing: border-box;
  border:3px solid #CAB5EB;
  border-radius: 50%;
  background-color: #c4b2e2;
}
.main_section {
  text-align: left;
  font-size: 72px;
  min-height: auto;
  max-width: 1240px;
  display: flex;
  padding-bottom: 160px;
  border-bottom: 1px solid #111010;
}
.goods {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #111010;
}
.goods-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.goods_card {
  font-size: 18px;
  line-height: 36px;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goods_card-adv {
  font-size: 48px;
  width: 300px;
  min-height: 535px;
}
.goods_card-img {
  max-width: 100%;
  height: auto;
  border: 1px solid #CAB5EB;
}
.goods_card-price-old {
  text-decoration: line-through;
}
.goods_link {
  text-align: right;
  font-size: 20px;
}
.endless-rows {
  font-size: 128px;
  max-width: 1376px;
  border-bottom: 1px solid #111010;
}
.endless-row {
  display: flex;
  justify-content: center;
  align-items:center;
}
.endless-row:first-of-type {
  padding-top: 150px;
}
.endless-row:last-of-type {
  padding-bottom: 150px;
}
.enddless-rows_element{
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items:center;
}








.footer {
  margin: 0 auto;
  max-width: 1376px;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #CAB5EB;
}
